@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Fragment {
  position: absolute;
}

.bg-sharp-glass {
  background: linear-gradient(-45deg, #4b749f, #243748);
}

/* NAVBAR */

.menu {
  background-image: url(../public/menu.png);
  background-size: 120%;
  background-position: center;
}

.CTC:hover {
  /* --tw-shadow-color: #0ea5e9; */
  box-shadow: -0 0 5px #0ea5e9, 0 0 10px #0ea5e9, 0 0 15px #0ea5e9, 0 0 20px;
}

.CTC {
  box-shadow: 0 0 5px #0ea5e9, 0 0 10px #0ea5e9;
}

.mobile-menu {
  left: 50%;
  transform: translate(-50%);
  animation: mobileMenu;
  animation-duration: 0.7s;
}
@keyframes mobileMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes changeBgColorToSlate {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(51, 65, 85, 0.9);
  }
}

@keyframes changeBgColorToTransparent {
  from {
    background-color: rgba(51, 65, 85, 0.9);
  }
  to {
    background-color: transparent;
  }
}

.turn-to-slate {
  animation: changeBgColorToSlate;
  animation-duration: 0.7s;
  background-color: rgba(51, 65, 85, 0.9);
}

.turn-to-transparent {
  animation: changeBgColorToTransparent;
  animation-duration: 0.7s;
  background-color: transparent;
}

@keyframes dropDownNav {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.navDropDown {
  animation-name: dropDownNav;
  animation-duration: 0.7s;
}

.beforeDrop {
  transform: translateY(-40px);
  opacity: 0;
}

/* HERO */

@keyframes socialMediaIcon {
  from {
    transform: translateY(0);
    box-shadow: none;
  }
  to {
    transform: translateY(-8px);
    box-shadow: -0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px;
  }
}

@keyframes socialMediaIconApp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

.sm-icon-drop {
  animation: socialMediaIconApp;
  animation-duration: 0.7s;
}

.sm-icon:hover {
  animation: socialMediaIcon;
  animation-duration: 0.3s;
  transform: translateY(-8px);
  border: white 3px solid;
  box-shadow: -0 0 2px white, 0 0 4px white, 0 0 6px white, 0 0 8px;
}
.Hero {
  background-image: url('./images/1414.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes aboutTitle {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
    z-index: 999;
  }
}

@keyframes typing {
  0% {
    border-right: none;
  }
  100% {
    border-right: 3px solid rgb(226 232 240);
  }
}

.static-typing-border {
  border-right: 3px solid rgb(226 232 240);
}

.typing-border {
  animation: typing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.text-P {
  font-size: 1.7rem /* 24px */;
  line-height: 2.2rem /* 32px */;
}

/* ABOUT */

.about-title,
.description {
  animation: aboutTitle;
  animation-duration: 0.7s;
  z-index: 999;
}

.description {
  z-index: 999;
  position: relative;
}

.circle {
  /* opacity: .8; */
  top: 20%;
  left: 40%;
  clip-path: circle(50% at 57% 85%);
  z-index: 0;
}

.profilePic {
  animation: BotApp;
  animation-duration: 0.7s;
}

@media screen and (max-width: 500px) {
  .circle {
    clip-path: circle(28% at 45% 77%);
  }
}

@keyframes BotApp {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* SKILLS */

.skills {
  background-image: url('./images/1414.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Progress {
  background-color: rgb(0, 79, 197);
}

@keyframes featuresAppearing {
  0% {
    transform: scaleY(0%) translateY(-100px);
  }
  100% {
    transform: scaleY(100%) translateY(0px);
  }
}

.featureApp {
  animation: featuresAppearing;
  animation-duration: 0.4s;
}

.selected {
  @apply ml-5 mr-5 w-full;
}

.unselected {
  @apply w-1/4 opacity-50;
}

.selected-dot {
  @apply w-5 md:w-7 bg-slate-200;
}

.m-0-auto {
  margin: 0 auto;
}

@keyframes UIFLOW {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 100%;
  }
}

.myWebDesign {
  animation: UIFLOW;
  animation-duration: 1.2s;
}

/* CONTACT */

@keyframes pAppearing {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 100%;
  }
}

.pApp {
  animation: pAppearing;
  animation-duration: 0.9s;
}

/* LOADING ANIMATION */

.Page {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(37, 37, 37, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30%;
  height: 4vw;
  border-bottom: 3px solid black;
  display: flex;
  animation: Rotation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.ball {
  width: 4vw;
  height: 100%;
  background-color: #38bdf8;
  clip-path: circle(50%);
  box-shadow: 0 0 5px #0ea5e9, 0 0 10px #0ea5e9;
}

.shadowing {
  position: relative;
  box-shadow: -0 0 5px #0ea5e9, 0 0 25px #0ea5e9, 0 0 50px #0ea5e9, 0 0 100px;
  display: inline-block;
  border-radius: 9999px;
  left: 0%;
  animation: upAndDown;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes Rotation {
  25% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
}

@keyframes upAndDown {
  50% {
    left: 86%;
  }
  100% {
    left: 0;
  }
}

.bg-insta {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

/* LET'S WORK */

@keyframes offAppMobile {
  from {
    opacity: 0%;
    transform: translateX(100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes offApp {
  from {
    opacity: 0%;
    transform: translateY(100%);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

.off-app {
  animation: offAppMobile;
  animation-duration: 1s;
}

@media screen and (min-width: 768px) {
  .off-app {
    animation: offApp;
    animation-duration: 1s;
  }
}

.circles::before {
  content: '';
  z-index: 0;
  width: 50%;
  height: 50vw;
  position: absolute;
  background-size: cover;
  background-image: url('./images/circles.png');
  opacity: 0.2;
  right: 0;
  top: 0;
}

@media screen and (max-width: 768px) {
  .circles::before {
    width: 75%;
    height: 75vw;
  }
}

@keyframes leftApp {
  from {
    opacity: 50%;
    transform: translateX(-100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes rightApp {
  from {
    opacity: 50%;
    transform: translateX(100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

.leftAppearence {
  animation: leftApp;
  animation-duration: 0.7s;
}
.rightAppearence {
  animation: rightApp;
  animation-duration: 0.7s;
}
